@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Raleway:wght@300;400&display=swap');

:root {
    --primary-color: #F8F3E5;
    --secondary-color: #857e61;
    --accent1-color: #4C5760;
    --accent2-color: #481620;
    --heading-font: "Raleway", Helvetica, sans-serf;
    --paragraph-font: 'Crimson Text', Times, serif;
}

body {
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
    font-size: 16px;
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
}

header,
footer, header section, header h1 {
    background-color: var(--secondary-color);
    color: white;
}

header {
	padding: 5px 0;
	display: flex;
    align-items:center;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}

header img {
	width: 120px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

nav {
    display: flex;
    padding: 7px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

header li {
    padding: 0 5px;
}

a {
    color: var(--accent2-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--accent1-color);
    color: white;
    padding: 4px;
}

.hero img{
    max-width: 100%;
    height: auto;
}

.main {
    background-color: white;
    padding: 15px;
    margin-top: 20px;
}

footer {
    padding: 5px 0;
	display: grid;
    align-items:center;
}

div.contactinfo {
    padding-left: 10%;
}

footer {
    
}