@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Raleway:wght@300;400&display=swap');

:root {
    --primary-color: #F8F3E5;
    --secondary-color: #857e61;
    --accent1-color: #4C5760;
    --accent2-color: #481620;
    --heading-font: "Raleway", sans-serf;
    --paragraph-font: 'Crimson Text', serif;
}

body {
    background-color: var(--primary-color);
    font-family: var(--paragraph-font);
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent2-color);
}

section {
    background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--accent1-color);
    font-family: var(--heading-font);
}

header,
footer {
    background-color: var(--secondary-color);
    color: white;
}

a {
    color: var(--accent2-color);
}

header h1 {
    color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

nav a:hover {
    background-color: var(--accent1-color);
}